*.class
*.log

# build and ide specific
*.ipr
*.iws
*.patch
*dependency-reduced-pom.xml
*.iml
.cache
.history
.lib/
.idea/
.DS_Store
dist/*
target/
app/target/
console/target/
container/target/
base/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
container/dependency-reduced-pom.xml
container/.flattened-pom.xml
core/dependency-reduced-pom.xml
core/.flattened-pom.xml
sample-container/dependency-reduced-pom.xml
sample-container/.flattened-pom.xml
sample-processor/dependency-reduced-pom.xml
sample-processor/.flattened-pom.xml
usl-client/dependency-reduced-pom.xml
usl-client/.flattened-pom.xml
./dependency-reduced-pom.xml
.flattened-pom.xml
